/* From Uiverse.io by SelfMadeSystem */ 
.card-container {
  position: relative;
  border-radius: 1em;
}

.card-border {
  position: absolute;
  inset: 0;
  background: #0005;
  border-radius: inherit;
}

.card {
  position: absolute;
  inset: 0.125em;
  border-radius: 0.875em;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}


.space {
  flex-grow: 1;
}


.content {
  overflow: hidden;
}


.spin {
  position: absolute;
  inset: 0;
  z-index: -2;
  overflow: hidden;
}

.spin-blur {
  filter: blur(0.2em) url(#unopaq);
}

.spin-intense {
  inset: -0.125em;
  filter: blur(0.2em) url(#unopaq2);
  border-radius: 0.65em;
}

.spin-inside {
  inset: -2px;
  border-radius: inherit;
  filter: blur(1px) url(#unopaq3);
  z-index: 0;
}

.spin::before {
  content: "";
  position: absolute;
  inset: -30%;
  animation: speen 8s cubic-bezier(0.56, 0.15, 0.28, 0.86) infinite;
}

.spin-blur::before {
  background: linear-gradient(-45deg, #f50, #0000 46% 54%, #05f);
}

.spin-intense::before {
  background: linear-gradient(-45deg, #f95, #0000 35% 65%, #59f);
}

.spin-inside::before {
  background: linear-gradient(-45deg, #fc9, #0000 35% 65%, #9cf);
}

@keyframes speen {
  0% {
    rotate: 10deg;
  }
  50% {
    rotate: 190deg;
  }
  to {
    rotate: 370deg;
  }
}



