/* From Uiverse.io by SelfMadeSystem */ 
.card-container {
  position: relative;
  border-radius: 1em;
}

:root {
  --primary-color: rgba(6, 49, 240, 0.333);
}

.card-border {
  position: absolute;
  inset: 0;
  background: var(--primary-color);
  border-radius: inherit;
  box-shadow: 0 0 0.5rem var(--primary-color);
  animation: hue-blink 300ms infinite;
}

.card {
  position: absolute;
  inset: 0.125em;
  border-radius: 0.875em;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
}

.space {
  flex-grow: 1;
}

@keyframes hue-blink {
  0%   { filter: hue-rotate(0deg); opacity: 1; }
  50%  { filter: hue-rotate(180deg); opacity: 0.6; }
  100% { filter: hue-rotate(360deg); opacity: 1; }
}

.spin-blur {
  background: var(--primary-color);
  box-shadow: 0 0 1em var(--primary-color);
  animation: hue-blink 100ms infinite;
  border-radius: 50%;
}



